@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  box-sizing: border-box;
}

*:hover {
  transition: transform 0.2s ease-in;
}

button {
  padding: 0.4rem 1rem;
  border: none;
  border-radius: inherit;
  color: aliceblue;
  cursor: pointer;
  filter: drop-shadow(0 0 #C4B0FF 4px);
}
button:hover {
  transform: scale(115%);
}

body {
  background-color: #C4B0FF;
  display: grid;
  overflow: hidden;
  height: 100vh;
  padding: 1rem 3rem;
  row-gap: 2rem;
  column-gap: 5rem;
  grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
  grid-template-rows: 2rem 8rem 2rem 60vh;
  grid-template-areas: "header header header header" "input input input input" "subheading subheading subheading subheading" "empty1 list1 list2 empty2";
  justify-items: center;
}
body h1, body h2, body h3 {
  align-self: self-start;
  text-align: center;
  color: #213555;
}
body h2 {
  font-size: 28px;
}
body h3 {
  font-size: 24px;
}
body h1 {
  grid-area: header;
}
body fieldset {
  background-color: #8696FE;
  grid-area: input;
  padding: 0.5rem 2.5rem;
  box-shadow: 3.5px 3.5px 1px rgba(31, 14, 48, 0.675);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: none;
}
body fieldset:is(body fieldset > *) {
  filter: drop-shadow(0 0 6px black);
}
body fieldset input {
  background-color: aliceblue;
  border: 5px solid black;
  border-radius: 2px;
  padding: 0.5rem;
  color: #213555;
  accent-color: #C4B0FF;
  border-color: whitesmoke;
}
body fieldset input:hover, body fieldset input:focus {
  transform: scale(115%);
  border-radius: 6;
  outline-offset: 1px;
}
body fieldset button {
  align-self: center;
  background-color: #536afe;
}
body h2 {
  grid-area: subheading;
}
body div {
  width: 85%;
  border-radius: 4px;
  background-color: rgba(134, 150, 254, 0.8);
  padding: 1.5rem;
  box-shadow: 4px 4px 1px rgba(31, 14, 48, 0.592);
}
body div ul {
  width: 95%;
  list-style: none;
  margin: 1.5rem auto;
  overflow-y: scroll;
  max-height: 26.4rem;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  display: grid;
  gap: 1.2rem;
}
body div ul .new {
  animation: fade-in 0.4s;
}
body div ul li {
  border-radius: 4px;
  background-color: rgba(196, 176, 255, 0.5);
  scroll-snap-align: start;
  width: 100%;
  height: 5rem;
  padding: 0.5em 1em;
  border: 2px solid #222222;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-areas: "checkbox taskname delete" "checkbox taskTime delete" "checkbox completed delete";
  align-items: center;
  color: #F9F5F6;
  column-gap: 15px;
}
body div ul li input {
  grid-area: checkbox;
  place-self: center;
  transform: scale(170%);
  accent-color: #8998fe;
}
body div ul li p {
  grid-area: taskname;
  font-size: 22px;
}
body div ul li time {
  grid-area: taskTime;
  font-size: 14px;
  opacity: 0.65;
}
body div ul li span {
  grid-area: completed;
  font-size: 12px;
}
body div ul li button {
  grid-area: delete;
  background-color: #c20050;
}
body .tobe {
  grid-area: list1;
}
body .completed {
  grid-area: list2;
}
body .completed li {
  filter: saturate(0.3);
}
body .completed li p {
  text-decoration: line-through;
  text-decoration-color: #213555;
  text-decoration-thickness: 2px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr 0.5fr 3fr 3fr;
    grid-template-areas: "header " "input " "subheading " "list1 " "list2 ";
    height: auto;
    overflow-y: scroll;
    padding-bottom: 2rem;
    row-gap: 0.5rem;
  }
  body div {
    min-width: 340px;
    padding: 0 initial;
  }
  body div ul {
    max-height: 13.2rem;
  }
}
@media (max-width: 480px) {
  li p {
    font-size: smaller;
  }
  li button {
    font-size: 12px;
  }
}

/*# sourceMappingURL=styles.css.map */
