@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", sans-serif;
    box-sizing: border-box;
}

$bg: #c4b0ff;
$sec: #8696fe;
$prm: #c4b0ff;
$txt: #f9f5f6;

$brdr: 4px;

$li-h: 5rem;
$task-name-s: 22px;
$task-time-s: 14px;
$task-stat-s: 12px;

*:hover {
    transition: transform 0.2s ease-in;
}

button {
    padding: 0.4rem 1rem;
    border: none;

    border-radius: inherit;

    color: aliceblue;
    cursor: pointer;

    filter: drop-shadow(0 0 $bg 4px);

    &:hover {
        transform: scale(115%);
    }
}

body {
    background-color: $bg;
    display: grid;
    overflow: hidden;

    height: 100vh;

    padding: 1rem 3rem;
    row-gap: 2rem;
    column-gap: 5rem;

    grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
    grid-template-rows: 2rem 8rem 2rem 60vh;
    grid-template-areas:
        "header header header header"
        "input input input input"
        "subheading subheading subheading subheading"
        "empty1 list1 list2 empty2";
    justify-items: center;

    h1,
    h2,
    h3 {
        align-self: self-start;
        text-align: center;

        color: #213555;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h1 {
        grid-area: header;
    }
    fieldset {
        background-color: $sec;
        grid-area: input;
        padding: 0.5rem 2.5rem;
        box-shadow: 3.5px 3.5px 1px rgba(31, 14, 48, 0.675);

        border-radius: $brdr;

        &:is(& > *) {
            filter: drop-shadow(0 0 6px black);
        }

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: none;

        input {
            background-color: aliceblue;
            border: 5px solid black;
            border-radius: 2px;
            padding: 0.5rem;
            color: #213555;
            accent-color: $prm;
            border-color: whitesmoke;

            &:hover,
            &:focus {
                transform: scale(115%);
                border-radius: 6;
                outline-offset: 1px;
            }
        }

        button {
            align-self: center;
            background-color: darken($sec, 10%);
        }
    }
    h2 {
        grid-area: subheading;
    }

    div {
        width: 85%;
        border-radius: $brdr;
        background-color: transparentize($color: $sec, $amount: 0.2);
        padding: 1.5rem;

        box-shadow: 4px 4px 1px rgba(31, 14, 48, 0.592);

        ul {
            width: 95%;
            list-style: none;
            margin: 1.5rem auto;
            overflow-y: scroll;
            max-height: 4 * ($li-h + 1.6rem);

            scrollbar-width: none;
            scroll-snap-type: y mandatory;
            display: grid;
            gap: 1.2rem;

            .new {
                animation: fade-in 0.4s;
            }

            li {
                border-radius: $brdr;
                background-color: transparentize($color: $prm, $amount: 0.5);
                scroll-snap-align: start;
                width: 100%;
                height: $li-h;
                padding: 0.5em 1em;
                border: 2px solid #222222;

                display: grid;
                grid-template-columns: 1fr 5fr 1fr;

                grid-template-areas:
                    "checkbox taskname delete"
                    "checkbox taskTime delete"
                    "checkbox completed delete";
                align-items: center;

                color: $txt;
                column-gap: 15px;

                input {
                    grid-area: checkbox;
                    place-self: center;
                    transform: scale(170%);
                    accent-color: lighten($sec, 0.5);
                }

                p {
                    grid-area: taskname;
                    font-size: $task-name-s;
                }

                time {
                    grid-area: taskTime;
                    font-size: $task-time-s;
                    opacity: 0.65;
                }

                span {
                    grid-area: completed;
                    font-size: 12px;
                }

                button {
                    grid-area: delete;
                    background-color: darken(#db005b, 5%);
                }
            }
        }
    }

    .tobe {
        grid-area: list1;
    }
    .completed {
        grid-area: list2;

        li {
            filter: saturate(0.3);
            p {
                text-decoration: line-through;
                text-decoration-color: #213555;
                text-decoration-thickness: 2px;
            }
        }
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1.5fr 0.5fr 3fr 3fr;
        grid-template-areas:
            "header "
            "input "
            "subheading "
            "list1 "
            "list2 ";
        height: auto;
        overflow-y: scroll;
        padding-bottom: 2rem;
        row-gap: 0.5rem;

        div {
            min-width: 340px;

            padding: 0 initial;
            ul {
                max-height: 2 * ($li-h + 1.6rem);
            }
        }
    }
}

@media (max-width: 480px) {
    li {
        p {
            font-size: smaller;
        }

        button {
            font-size: 12px;
        }
    }
}
